@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0%;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@layer base {
  :root {
    --primary-color: #259F88;
    --secondary-color: #044438;
    --primary-bg-color: #FFFFF2;
    --secondary-bg-color: #FFFBED;
    --font-color: #2D2E2E
  }
}